<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Custom CSS-->
    <link rel="stylesheet" href="css/style.css" type="text/css"/>

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script> 

    <title>Random User-DS HW</title>
  </head>
  <body>
    <div class='container-fluid'>
        <nav class="navbar sticky-top justify-content-center navbar-expand-lg navbar-dark navBg">
            <a class="navbar-brand" href="index.html">
              <img src="img/hp.jpg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
              <!-- Image source: https://1000logos.net/harry-potter-logo/ -->
              DS Random user
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myMenu">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myMenu">
              <div class="navbar-nav mr-auto">
                  <a class="nav-link" href="index.html">Home</a>
                  <a class="nav-link active" href="books.html">Books<span class="sr-only"></span></a>
                  <a class="nav-link" href="contact.html">Contact</a>
              </div>
            </div>
        </nav>
      <header class='main_head' >Created by: Pallavi Ratra</header>
      <div id="books" class="container-fluid">
        <h4>Here is a list of books that I want to read!</h4>
        <table data-sortable class="table table-hover table-responsive-sm">
            <thead id='booksTable'>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Author(s)</th>
                <th scope="col">Year published</th>
                <th scope="col">Publisher</th>
                <th scope="col">Page count</th>
                <th scope="col">MSRP</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="b in books">
                <td>{{b.title}}</td>
                <td>{{b.author}}</td>
                <td>{{b.year_pub}}</td>
                <td>{{b.publisher}}</td>
                <td>{{b.pages}}</td>
                <td>{{ prettyPound(b.msrp)}}</td>
              </tr>
            </tbody>
        </table>
      
        <div class="container-fluid" id="booksPage">
          <h4>Have a suggestion? Add the book details here!</h4>
          <form v-on:submit.prevent="postNewBook">
            <div class="row">
              <!-- <div class="col">
                <input type="text" v-model="bookForm.id" class="form-control" placeholder="ID" id="title">
              </div> -->
              <div class="col">
                <input type="text" v-model="bookForm.title" class="form-control" placeholder="Title" id="title">
              </div>
              <div class="col" id="form">
                <input type="text" v-model="bookForm.author" class="form-control" placeholder="Author(s)" id="author">
              </div>
            </div>
            <div class="row">
                <div class="col">
                  <input type="number" v-model="bookForm.year_pub" class="form-control" placeholder="Year published" id="year">
                </div>
                <div class="col" id="form">
                  <input type="text" v-model="bookForm.publisher" class="form-control" placeholder="Publisher" id="publisher">
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <input type="number" v-model="bookForm.pages" class="form-control" placeholder="Page count" id="pages">
                </div>
                <div class="col" id="form">
                  <input type="number" step="0.01" v-model="bookForm.msrp" class="form-control" placeholder="MSRP" id="msrp">
                </div>
            </div>
            <button class="btn btn1" type="submit">Submit</button>
          </form> 
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Table sort plugin from https://github.hubspot.com/sortable/docs/welcome/-->
    <script src="sortable/js/sortable.min.js"></script>
    <link rel="stylesheet" href="sortable/css/sortable-theme-bootstrap.css" />

    <!-- Custom JS -->
    <script src="js/books.js"></script> 
  </body>
</html>